@charset "utf-8";
/* CSS Document */
body {
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    margin: 0;
    background-size: 100%;
}
table{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.47);
    border-radius: 10px;
    border-spacing: 0;
    border-collapse: separate;
    display: inline-block;
    margin-left: 3%;
    counter-reset: counter;
}
th{
    background-color: #1d3e61;
    color: white;
    width: 100px;
    padding: 10px;
}
th:hover{
    background-color: #1d3e619c;
}
tr:nth-child(n+2){
    text-align: center;
    background-color: #f2f2f2;
    counter-increment: counter;
}
tr:hover{
    background-color:#8eb5f094;
}
tr:focus{
    background-color:#8eb5f094;
}
tr:before{
    content: counter(counter);
}
tr:nth-child(-n+1):before {
    content: "";
    background-color: #1d3e61;
    display: table-cell;
    vertical-align: middle;
}
.error-message{
    color: #d70000;
}


.university-title {
    font-family:'Noto Serif', 'Georgia', 'Times New Roman', serif;
    font-style: oblique;
    font-size: 3em;
    font-weight: 400;
    color:#1d3e61;
    margin-left: 25%
}

header .university-title, a {
    display: inline-block;
}

.logout-btn:hover{
    background-color: #1d3e6199;
    border-color: #0f3053d9;
}

aside {
    margin-left: 0;
}

.accept-form, .decline-form {
    display: inline-block;
}

select{
    width: 100px;
}

.Start-admission-form{
    display: block;
    text-height: 50;
    background-color: #1d3e61d4;
    font-family: 'Noto Serif', 'Georgia', 'Times New Roman', serif;
    color: #f9f9f9;
    margin-top:0;
    margin-left: 3%;
}

.start-admission-btn{
    font-family: 'Noto Serif', 'Georgia', 'Times New Roman', serif;
    font-weight: 400;
    background-color: #1d3e61c9;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #0f3053;
    color: white;
    padding: 4px;
}
.start-admission-btn:hover{
    background-color: #8aa8c77d;
}
.button{
    border-radius: 5px;
    background-color: #1d3e61;
    color: white;
    border-color: #0c4272;
}
.button:hover{
    background-color: #1d3e61b3;
}

menu{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    background-color: #1d3e61e3;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

menu ul{
    margin-top: 40px;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
}

menu a{
    font-family: 'Noto Serif', 'Georgia', 'Times New Roman', serif;
    font-weight: 500;
    font-size:  large;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid white;
    line-height: 30px;
    height: 30px;
    color: white;
}

.menu-toggle{
    position: fixed;
}

#side-menu .close-btn{
    padding: 5px;
    float: right;
}

.close-btn{
    border-bottom: 0;
}
.close-btn:before{
    content: '\2630';
}
.open-btn{
    padding: 15px;
    background-color: #1d3e61;
    color: white;
    display: none;
    position: fixed;
}
.open-btn:before{
    content: '\2630';
}

.language-switch, .close-btn{
    display: inline-block;
}

.language-switch{
    border-bottom: 0;
}

.main-content{
    margin-left: 25%;
    margin-right: 1%;
}

.table-name{
    margin-left: 5%;
    font-family: 'Noto Serif', 'Georgia', 'Times New Roman', serif;
    font-weight: 500;
    font-size:  large;
}
