@charset "utf-8";
/* CSS Document */
body {
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    margin: 0;
    background-size: 100%;
}
table{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.47);
    border-radius: 10px;
    border-spacing: 0;
    border-collapse: separate;
    display: inline-block;
    margin-left: 3%
}
th{
    background-color: #1d3e61;
    color: white;
    width: 100px;
    padding: 10;
}
th:hover{
    background-color: #1d3e619c;
}
tr{
    text-align: center;
}
tr:hover{
    background-color:#8eb5f094;
}
tr:focus{
    background-color:#8eb5f094;
}
tr {
    background-color: #f2f2f2;
}
.error-message{
    color: #d70000;
}
menu {
    position: center;
    padding: 0;
    text-decoration: none;
    height: 100%;
    width: 20%;
    background-color: #1d3e61;
}
menu {
    font-family: 'Noto Serif', 'Georgia', 'Times New Roman', serif;
    font-size: 1.3rem;
    text-align:left;
    margin-top: 0;
    float: left;
    z-index: 99999;
    position: fixed;
}

menu li {
    display: block;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

menu li a {
    text-decoration: none;
    color: #e3e5e8;
    font-family:'Noto Serif', 'Georgia', 'Times New Roman', serif;
}

.university-title {
    font-family:'Noto Serif', 'Georgia', 'Times New Roman', serif;
    font-style: oblique;
    font-size: 3em;
    font-weight: 400;
    color:#1d3e61;
    margin-left: 5%
}

header .university-title, a {
    display: inline-block;
}

.logout-btn:hover{
    background-color: #1d3e6199;
    border-color: #0f3053d9;
}

aside {
    margin-left: 0;
}

.accept-form, .decline-form {
    display: inline-block;
}

select{
    width: 100px;
}

.Start-admission-form{
    display: block;
    text-height: 50;
    background-color: #1d3e61d4;
    font-family: 'Noto Serif', 'Georgia', 'Times New Roman', serif;
    color: #f9f9f9;
    margin-top:0;
}

.start-admission-btn{
    font-family: 'Noto Serif', 'Georgia', 'Times New Roman', serif;
    font-weight: 400;
    background-color: #1d3e61c9;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #0f3053;
    color: white;
    padding: 4px;
}
.start-admission-btn:hover{
    background-color: #8aa8c77d;
}
.button{
    border-radius: 5px;
    background-color: #1d3e61;
    color: white;
    border-color: #0c4272;
}
.button:hover{
    background-color: #1d3e61b3;
}

menu{
    height: 100%;
    width: 3%;
    -webkit-transition: .5s ease; /* Safari and Chrome */
    -moz-transition: .5s ease; /* Firefox 4 */
    -o-transition: .5s ease; /* Opera */
}

menu li{
    display: none;
    opacity: 0;
    -webkit-transition: 1.5s ease; /* Safari and Chrome */
    -moz-transition: .5s ease; /* Firefox 4 */
    -o-transition: .5s ease; /* Opera */
}

menu:hover{
    width: 20%;
}

menu:hover li{
    opacity: 1;
    display: block;
    transition: 1s;
}
