@charset "utf-8";
/* CSS Document */
header .university-title, a{
    display: inline-block;
}
aside{
    margin-left:0px;
}
table, aside{
    display:inline-block;
    padding-right: 30px;
}
menu li {
    display: inline-block;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}