@charset "utf-8";
/* CSS Document */
body {
    margin-left: 25%;
    margin-right: 25%;
    background-image: url(../images/Melbourne_university.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: 100%;
}

.UniversityTitle {
    /*background-color: rgba(255, 255, 255, .6);*/
    /* backdrop-filter: blur(5px);*/
}

menu {
    position: center;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
    padding: 0;
}

menu li {
    display: inline-block;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

menu li a {
    text-decoration: none;
}

header .sign-btn-ul li {
    font-family: 'Comfortaa', cursive;
    color: #524f4e;
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: .2s linear;
    float: right;
}

header .sign-btn-ul li a{
    text-decoration: none;
}

.specialty_item_title {
    /*border: 1px solid #4158d0;*/
}

.specialty_item_description {
    /*border: 1px solid #4158d0;*/
}

.specialty_item {
    width: 300px;
    height: auto;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.specialty_item .applyBtnFont {
    text-align: right;
}

.FacultiesSideBar {
    width: 100px;

}

.applyBtnFont {
    display: inline-block;
    position: relative;
    border: 1px;
}

.FacultiesSideBar {
    padding: 10px;
    width: 200px;
    float: left;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
    outline: 2px #2c5792;
}

.MainList {
    display: inline-block;
    float: left;
    margin-left: 50px;
}

.MainList .specialty_item .ApplyBtn {
    margin-left: 235px;
}
