@charset "utf-8";
/* CSS Document */
body {
    /*  margin: 0;
      padding: 0;
      max-width: 100%;*/
    margin-left: 25%;
    margin-right: 25%;
    background-image: url(../images/Melbourne_university.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: 100%;
}

.pageContainer {

}

.UniversityTitle {
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
/*    top: 14px;
    left: 17px;
    width: 509px;
    height: 83px;
    font-family: Segoe UI;
    font-size: 54px;
    text-align: left;
    -ms-text-shadow: 0px 3px 5px rgba(0,0,0,0.41);
    -o-text-shadow: 0px 3px 5px rgba(0,0,0,0.41);
    -webkit-text-shadow: 0px 3px 5px rgba(0,0,0,0.41);
    -moz-text-shadow: 0px 3px 5px rgba(0,0,0,0.41);
    text-shadow: 0px 3px 5px rgba(0,0,0,0.41);
    color: #211d98;*/
}

.signBtnBlock, .UniversityTitle {
    display: inline-block;
}

/*.signBtnBlock{
    margin-left:100em;
    margin-right: 10em;
}*/
header .sign-btn-ul {
    font-family: 'Comfortaa', cursive;
    color: #524f4e;
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: .2s linear;
    float: right;
}
/*
.menu-bar{
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
}
 .menu-bar .menu-bar-item a{
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 5px;
    float: left;
}
*/


.specialty_item_title {
    /*border: 1px solid #4158d0;*/
}

.specialty_item_description {
    /*border: 1px solid #4158d0;*/
}

.specialty_item {
    width: 300px;
    height: auto;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.specialty_item .applyBtnFont {
    text-align: right;
}

.FacultiesSideBar {
    width: 100px;

}

.applyBtnFont {
    display: inline-block;
    position: relative;
    border: 1px;
}

.FacultiesSideBar {
    padding: 10px;
    width: 200px;
    float: left;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
    outline: 2px #2c5792;
}

.MainList {
    display: inline-block;
    float: left;
    margin-left: 50px;
}

.MainList .specialty_item .ApplyBtn {
    margin-left: 235px;
}
